.search {
    
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header {
    
    font-family: 'Cantata One', serif;
    background-color: #75B8BF;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #headersub {
    font-family: 'Raleway', sans-serif;
  }
  

  body {
    font-family: 'Cantata One', serif;
    font-size: 16px;
    line-height: 1;
    background-color: #006d77;
  }

  .sidebar2 {
    font-family: 'Raleway', sans-serif;
      background-color: #edf6f9;
  }

  .display-group {
    font-family: 'Raleway', sans-serif;
    background-color: #ffddd2;
  }

  #citydisplay {
    font-family: 'Cantata One', serif;
    
  }

.designer {
  font-family: 'Cantata One', serif;

}


.Forecastdiv {
  background-color: #ffddd2;
}
